body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .header {
    background-color: #112a49;
    padding: 1rem;
    text-align: center;
  }
  
  .header .logo img {
    width: 150px;
  }
  
  .section__container {
    max-width: 1500px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .room__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }
  
/* Estilo para el contenedor de habitaciones */
.room {
  border: 1px solid #ccc; /* Bordes alrededor de cada habitación */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Para evitar que el contenido desborde */
  margin: 15px; /* Espaciado entre habitaciones */
  padding: 10px; /* Espaciado interno */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s; /* Efecto de transformación al pasar el mouse */
}

.room:hover {
  transform: scale(1.05); /* Aumentar ligeramente el tamaño al pasar el mouse */
}

.room {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* Contenedor principal del formulario de reserva */
.section__container.reservation {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 2rem auto;
}

/* Título del formulario */
.section__container.reservation h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #112a49;
  margin-bottom: 1.5rem;
}

/* Estilo general para las etiquetas */
.section__container.reservation label {
  font-size: 1rem;
  color: #333;
  margin-top: 0.5rem;
  display: block;
}

/* Estilo para los campos de entrada */
.section__container.reservation input[type="text"],
.section__container.reservation input[type="email"],
.section__container.reservation input[type="tel"] {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

/* Estilo para el botón de envío */
.section__container.reservation button {
  width: 100%;
  padding: 0.75rem;
  background-color: #112a49;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.section__container.reservation button:hover {
  background-color: #112a49;
}

/* Estilo para el mensaje de resultado */
#reservation-result {
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
  color: #112a49;
}
